@charset "UTF-8";

body{
	background-image: url(wood.jpg);  
	color: white;
	}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 3em;
  color: #0000FF;
}

p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h2 {
  color: blue;
}

a:hover {
	color: pink;
}
a:link {
	color: white;
}
a:visited {
	color: white;
}